<h1>Add User</h1>

<% if @user.errors.any? %>
<h2>The following errors prevented the article from getting created</h2>
<ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= form_with model: @user do |f| %>

<p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
</p>

<p>
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
</p>

<p>
    <%= f.label :password %><br/>
    <%= f.password_field :password %>
</p>

<p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
</p>
<p>
    <%= f.submit "Create User" %>
</p>

<% end %>
